* {
    background: #000; /*#555 o #404040*/
    color: #fff; /*#e6e6e6*/
}
QPushButton {
    outline: none;
    border: none;
    background-color: transparent;
    color: #888;
}
QPushButton:hover {
    color: #e6e6e6;
}
QPushButton:pressed {
    background-color: transparent;
    border:none;
}
QPushButton:focus {
    color: #fff;
}
QListWidget {
    font-weight:400;
}
QLineEdit {
    background: #1a1a1a;
    border-radius: 5px;
    color: #e6e6e6;
    font-weight: 400;
}