* {
    background: #404040; /*#555*/
    color: #e6e6e6; /*#e6e6e6*/
}
/*
window {
    border: none;
    min-width:400px;
    min-height:200px;
}*/
QPushButton {
    outline: none;
    border: none;
    background-color: transparent;
    color: #888;
}
QPushButton:hover {
    color: #e6e6e6;
}
QPushButton:pressed {
    background-color: transparent;
    border:none;
}
QPushButton:focus {
    color: #e6e6e6;
}